.navbar{
    background-color: black;
    height: 80px;
    width: 100%;
}
footer{
    font-weight:bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(9, 184, 175);
    color: white;
    text-align: center;
    height: 60px;
    
}
h2{
    text-align: center;
}
